[mysqld]
log_error=/var/log/mysql/error.log        # Path to the error log
general_log=1                             # Enable general query logging
general_log_file=/var/log/mysql/general.log # Path to the general log file
slow_query_log=1                          # Enable slow query logging (optional)
slow_query_log_file=/var/log/mysql/slow.log # Path to the slow query log file
